:root {
  --main-title-color: #212121;
  --white-elements: #ffffff;
  --main-body-color: #757575;
  --accent-color: #2196f3;
  --hero-button-accent: #188ce8;
  --button-bgc-color: #f5f4fa;
  --main-logo-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

/* Общие стили */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-body-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-black {
  color: var(--main-logo-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.nav-link:visited,
.projects-link:visited {
  color: var(--main-title-color);
}

.active,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.mail,
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-body-color);
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* Стили героя */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-elements);
  /* цвет фна указан для видимсти */
  background-color: #000;
}

.hero-btn {
  cursor: pointer;
  
  font-family: inherit
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-elements);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-button-accent);
}

/* Для страницы index.html */

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-title-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Футер */

.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--white-elements);
  /* цвет фна указан для видимсти */
  background-color: #000;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footer-contacts-color);
  /* цвет фна указан для видимсти */
  background-color: #000;
}

.adress:hover,
.adress:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.logo-white {
  color: var(--white-elements);
  /* цвет фна указан для видимсти */
  background-color: #000;
}

/* Для страницы portfolio.html */

.portfolio-btn {
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
  background-color: var(--button-bgc-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-elements);
  background-color: var(--accent-color);
}

.projects-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--main-title-color);
}

.projects-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--main-body-color);
}
